@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background: #FEAFC3;
}

.visually-hidden {
  visibility: hidden;
}

.navigation-list,
.slider-gallery,
.catalog-list,
.slider-pagination,
.social-list,
.footer-info-list,
.drop-down-menu-list,
.breadcrumbs,
.catalog-filter-list,
.pagination {
  list-style: none;
}

.button {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
}

.button-white {
  background: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  color: #2D3440;
}

.button-pink {
  font-weight: 700;
  line-height: 20px;
  background: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  color: #FCFCFC;
}

/* Стили для header */

.page-header {
  line-height: 20px;
}

.navigation-link {
  line-height: inherit;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.navigation-user .navigation-link {
  font-size: 14px;
}

.navigation-user .navigation-item:first-child {
  font-weight: 700;
}

.drop-down-menu-list {
  font-size: 14px;
  background-color: #FCFCFC;
}

.drop-down-menu-link {
  text-decoration: none;
  color: inherit;
}

.drop-down-menu-link-current {
  font-weight: 700;
  border-bottom: 1px solid #B9B9B9;
}

/* Стили для main */

/* Стили для gallery */

.slider-gallery {
  list-style: none;
}

.gallery-subtitle {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.gallery-text {
  font-size: 18px;
  line-height: 24px;
}

.gallery-link {
  line-height: 20px;
  font-weight: 700;
}

/* Стили для gifts */

.gifts-title {
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.gifts-content {
  background: #FF7799;
  border-radius: 16px;
  background-image: url(../images/raspberry.png);
  background-repeat: no-repeat;
  background-position-x: right;
}

.gifts-content:last-child {
  background-image: url(../images/marshmallow.png);
}

.gifts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.gifts-link {
  font-weight: 700;
  line-height: 20px;
  color: inherit;
}

/* Стили для catalog */

.catalog-subtitle {
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.catalog-item {
  display: block;
  background: #FCFCFC;
  border-radius: 8px;
}

.catalog-item img {
  border-radius: 50%;
}

.catalog-item-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-item-text {
  color: #565C66;
}

.catalog-item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* Стили для advantages */

.advantages {
  background: #FFFFFF;
  border-radius: 16px;
}

.advantages-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.advantages-item {
  color: #565C66;
}

/* Стили для blog */

.blog {
  background-color: #FFFFFF;
  background-image: url(../images/rasperry-and-mint.png);
}

.blog-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #565C66;
}

.blog-link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/* Стили для newsletter */

.newsletter {
  background-color: #FFFFFF;
}

.newsletter input {
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
}

.newletter-text {
  color: #565C66;
}

/* Стили для delivery */

.delivery {
  background-color: #FFFFFF;
  border-radius: 16px;
}

.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.delivery-text {
  color: #565C66;
}

.delivery-form-container {
  background: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery-form {
  font-weight: 700;
  line-height: 20px;
}

.delivery-form input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.delivery-form-text {
  color: #565C66;
}

/* Стили для contacts */

.contacts {
  background-color: #FEAFC3;
  background-image: url(../images/three-icecreams.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.contacts-content {
  background: #FCFCFC;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contacts-subtitle {
  color: #565C66;
}

.contacts-address-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-schedule {
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}

/* Стили для footer */

.footer-info-link {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 20px;
}

.footer-info-item:first-child {
  font-weight: 700;
  list-style: url(../images/heart.svg);
}

.about-text {
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-link {
  color: inherit;
}

/* Стили для страницы Каталога */

.breadcrumbs {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs-item:last-child {
  text-decoration: underline;
}

.breadcrumbs-item::after {
  content: url(../images/two-arrows-right.svg);
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
}

.translucent-field {
  background: #FCFCFC;
  /*opacity: 0.3;*/
  border-radius: 20px;
}

.catalog-filter-products {
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-products-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.select-control {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.button-transparent {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  font-weight: 700;
}

.pagination-link {
  text-decoration: none;
  line-height: 20px;
  color: inherit;
}
