@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.button {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  cursor: pointer;
}

.button-white {
  background: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  color: #2D3440;
  padding: 12px 32px;
  position: relative;
}

.button-white:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  transition: 0.8s;
}

.button-white:active {
  background: #FCFCFC;
  outline: 2px solid #2D3440;
}

.button-white:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
}

.button-white:disabled {
  background: #E7E7E7;
  border: 4px solid rgba(252, 252, 252, 0.4);
  font-weight: 400;
  color: #B9B9B9;
}


.button-pink {
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  color: #FCFCFC;
  padding: 12px 32px;
  position: relative;
}

.button-pink:hover {
  color: #2D3440;
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  transition: 0.8s;
}

.button-pink:active {
  background: #FEAFC3;
  outline: 2px solid #2D3440;
}

.button-pink:focus {
  outline: 2px solid #2D3440;
}

.button-pink:disabled {
  background: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  color: #565C66;
}

/* Spinner */


.button-download {
  padding-right: 56px;
}

.button-download::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  opacity: 0.24;
  border: 2px solid rgba(24, 24, 24, 0.24);
  border-top: 2px solid rgba(24, 24, 24, 1);
  border-radius: 50%;
  margin-left: 9px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg);
  }
}

.button-download-pink {
  padding-right: 56px;
}

.button-download-pink::after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 16px;
  height: 16px;
  right: 25px;
  opacity: 0.24;
  border: 2px solid rgba(252, 252, 252, 0.25);
  border-top: 2px solid #FCFCFC;
  border-radius: 50%;
  margin-left: 9px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Стили для header */

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
}

.page-header {
  line-height: 20px;
  min-height: 104px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-first-header-list {
  padding: 8px 16px;
}

.navigation-link-catalog {
  display: flex;
}

.navigation-first-header-list:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
  transition: 0.5;
}

.navigation-first-header-list:active {
  background: #FCFCFC;
  border-radius: 30px;
}

.navigation-first-header-list:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  border-radius: 30px;
}

.navigation-link-catalog svg {
  padding-left: 6px;
}

.navigation-link {
  line-height: inherit;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.navigation-link.logo {
  margin-right: 16px;
}

.navigation-second-header-list:active {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 27px;
}

.navigation-link svg:not(.navigation-search) {
  padding-right: 6px;
}

.navigation-user {
  gap: 17px;
}

.navigation-user .navigation-link {
  font-size: 14px;
  display: flex;
}

.navigation-item {
  position: relative;
}

.navigation-item .navigation-phone {
  font-size: inherit;
  font-weight: 700;
}

.navigation-phone:hover {
  color: #FCFCFC;
  transition: 0.8s;
}

.navigation-user a:not(.navigation-phone) {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.navigation-user .navigation-item:nth-child(2) a {
  padding: 8px;
  align-items: center;
}

.navigation-item-login a {
  padding: 6px 16px;
  align-items: center;
}

.navigation-user .navigation-item:nth-child(4) a {
  padding: 7px 15px;
  align-items: center;
}


/* Drop-Down Menu */

.drop-down-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  font-size: 14px;
  background-color: #FCFCFC;
  position: absolute;
  min-width: 103px;
  padding: 8px 0;
  margin-top: 8px;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
}

.navigation-item:nth-child(2):focus-within .drop-down-menu-list {
  display: block;
}

.navigation-item:nth-child(2):focus-within .navigation-link-catalog svg {
  transform: rotate(180deg) translateX(-6px) translateX(4px) translateY(-2px);
}

.drop-down-menu-link {
  text-decoration: none;
  color: inherit;
  padding: 6px 16px;
  display: block;
}

.drop-down-menu-link:hover {
  background: #FFCBD8;
}

.drop-down-menu-link:active {
  background: #FF7799;
}

.drop-down-menu-link:focus {
  background: #FF4A78;
  color: #FCFCFC;
}

.drop-down-menu-link-new {
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 9px;
}

.drop-down-menu-link-new:not(li.drop-down-menu-item:last-child a):after {
  content: '';
  display: block;
  width: 103px;
  height: 1px;
  background: #B9B9B9;
  position: relative;
  top: 13px;
}

.drop-down-menu-item:last-child a.drop-down-menu-link-new {
  margin-bottom: 0;
  margin-top: 9px;
}

.drop-down-menu-item:last-child a.drop-down-menu-link-new:before {
  content: '';
  display: block;
  width: 103px;
  height: 1px;
  background: #B9B9B9;
  position: relative;
  top: -13px;
}

.drop-down-menu-link-current {
  background: #FF4A78;
  color: #FCFCFC;
}

.navigation-item-search a:hover,
.navigation-item-login a:hover,
.navigation-item-cart a:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-item-search a:active,
.navigation-item-login a:active,
.navigation-item-cart a:active {
  background: #FCFCFC;
}

.navigation-item-search a:focus,
.navigation-item-login a:focus,
.navigation-item-cart a:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  color: #2D3440;
}

/* Стили для main */

.main-container {
  flex-grow: 1;
}

/* Стили для gallery */
.gallery {
  margin-bottom: 76px;
}

.slider-gallery {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.slider-gallery-container {
  width: 429px;
}

.slider-wrapper {
  display: grid;
  width: 367px;
  margin-left: 26px;
}

.slider-gallery-image {
  grid-area: 1/-1/1/2;
  margin: 0 auto;
}

.slider-gallery-item {
  display: flex;
  padding-left: 70px;
  padding-top: 21px;
}

.slider-gallery-item:nth-child(2),
.slider-gallery-item:nth-child(3) {
  width: 100px;
  padding-left: 0;
}

.slider-gallery-item:nth-child(3) {
  margin-left: 41px;
}

.slider-gallery-item:nth-child(2) .slider-gallery-container,
.slider-gallery-item:nth-child(3) .slider-gallery-container {
  display: none;
}

.slider-gallery-item-non-active .slider-wrapper {
  transform: scale(0.3);
  opacity: 0.4;
  width: 100px;
  margin: 0;
}

.slider-gallery-item-non-active .slider-wrapper-decoration {
  max-width: 100%;
}

.slider-gallery-item-non-active .slider-gallery-button {
  opacity: 0;
  cursor: default;
}

.gallery-subtitle {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0;
  margin-bottom: 24px;
  margin-top: 113px;
}

.gallery-text {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 48px
}

.gallery-link {
  line-height: 20px;
  font-weight: 700;
  display: inline-block;
}

.slider-gallery-button {
  background: none;
  cursor: pointer;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  width: 38px;
  height: 38px;
  top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 1/-1/1/2;
  align-self: center;
}

.slider-gallery-button:nth-of-type(2) {
  margin-left: auto;
}

.slider-gallery-button:hover {
  background: #FCFCFC;
  transition: 0.8s;
}

.slider-gallery-button:hover path {
  fill: #2D3440;
  transition: 0.8s;
}

.slider-gallery-button:active {
  background: rgba(252, 252, 252, 0.5);
  border-color: rgba(252, 252, 252, 0.5);
}

.slider-gallery-button:active path {
  fill: #2D3440;
}

.slider-gallery-button:focus {
  background: rgba(252, 252, 252, 0.3);
  border-color: #2D3440;
}

.slider-gallery-button:focus path {
  fill: #2D3440;
}

.slider-gallery-button:disabled {
  opacity: 0.4;
}

.slider-wrapper-decoration {
  width: 327.15px;
  background-color: white;
  opacity: 0.3;
  z-index: -1;
  height: 312px;
  border-radius: 50%;
  grid-area: 1/-1/1/2;
  align-self: center;
  margin: 0 auto;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.social-link {
  padding: 25px 8px;
  position: relative;
}

.social-link:active {
  opacity: 0.5;
}

.social-link::before {
  content: "";
  background-color: #2D3440;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all ease-out 0.2s;
  z-index: -1;
  border-radius: 50%;
}

.footer-social-item:first-child .social-link::before {
  top: 29px;
  left: 13px;
}

.footer-social-item:nth-child(3) .social-link::before {
  top: 29px;
  left: 19px;
}

.gallery-social-item:last-child a::before {
  left: 19px;
}

.social-link:hover::before,
.social-link:active::before,
.social-link:focus::before {
  opacity: 1;
  transition: 0.8s;
}

.social-link svg {
  outline: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 24px;
}

.social-link:focus svg {
  outline: 2px solid #2D3440;
}

.footer-social-item:first-child a {
  padding-left: 0;
}

.gallery-social-item:last-child a {
  padding-right: 0;
}

.slider-pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.slider-pagination-button {
  border: none;
  background: rgba(252, 252, 252, 0.3);
  padding: 6px;
  border-radius: 100px;
  cursor: pointer;
}

.slider-pagination-button-current {
  background: #FCFCFC;
}

.slider-pagination-button:hover:not(.slider-pagination-button-current) {
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #FCFCFC;
}

.slider-pagination-button:active {
  background: #FCFCFC;
}

.slider-pagination-button:focus {
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2D3440;
}

.lists-wrapper {
  display: flex;
  justify-content: space-between;
}

/* Стили для gifts */

.gifts-title {
  width: 434px;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
}

.gifts-content-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gifts-content {
  background: #FF7799;
  border-radius: 16px;
  background-image: url(../images/raspberry.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  width: 570px;
  min-height: 268px;
}

.gifts-content:last-child {
  background-image: url(../images/marshmallow.png);
}

.gifts-wrapper {
  width: 317px;
  margin: 36px 0 36px 36px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.gifts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.gifts-text {
  margin: 0;
  width: 304px;
}

.gifts-link {
  font-weight: 700;
  line-height: 20px;
  color: inherit;
  align-self: flex-start;
}

/* Стили для catalog */

.catalog {
  margin-top: 80px;
}

.catalog-subtitle {
  width: 527px;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 107px;
  row-gap: 91px;
}

.catalog-item {
  display: block;
  background: #FCFCFC;
  border-radius: 8px;
  width: 270px;
  text-align: center;
  min-height: 281px;
}

.catalog-item img {
  border-radius: 50%;
  position: relative;
  bottom: 51px;
  filter: drop-shadow(0 4px 12px rgba(45, 52, 64, 0.1));
}

.catalog-item-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  margin-top: -40px;
}

.catalog-item-text {
  color: #565C66;
  display: block;
  max-width: 190px;
  margin: 0 auto;
  margin-top: 8px;
}

.catalog-item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: block;
  text-align: start;
}

.catalog-item .button {
  background: #FF2F64;
  border: 2px solid #FF2F64;
  border-radius: 26px;
  padding: 6px;
  display: flex;
}

.catalog-item .button:hover {
  background: rgba(252, 252, 252, 0.3);
  transition: 0.8s;
}

.catalog-item .button:hover path,
.catalog-item .button:active path {
  fill: #2D3440;
}

.catalog-item .button:active {
  background: #FFCBD8;
}

.catalog-item .button:focus {
  border-color: #2D3440;
}

.catalog-item .button:disabled {
  background: #B9B9B9;
}

.catalog-item .button:disabled path {
  fill: #565C66;
}

.price-and-cart-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 190px;
  margin: 0 auto;
  margin-top: 14px;
  margin-bottom: 24px;
}

/* Стили для advantages */

.advantages {
  background: #FFFFFF;
  background-image: url(../images/waffle-background.jpg);
  background-size: 20%;
  border-radius: 16px;
  margin-top: 80px;
  min-height: 480px;
}

.advantages-wrapper {
  background: #FFFFFF;
  border-radius: 16px;
  position: relative;
  top: 24px;
  padding-bottom: 56px;
  width: 1122px;
  margin: 0 auto;
}

.advantages-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0;
  padding-top: 56px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 56px;
  padding-left: 40px;
  row-gap: 40px;
  column-gap: 29px;
  list-style-type: none;
}

.advantages-item {
  color: #565C66;
  width: 510px;
  display: flex;
  gap: 16px;
}

.advantages-item:first-child::before {
  content: url(../images/list-style-icecream.svg);
}

.advantages-item:nth-child(2)::before {
  content: url(../images/list-style-cow.svg);
}

.advantages-item:nth-child(3)::before {
  content: url(../images/list-style-leaf.svg);
}

.advantages-item:nth-child(4)::before {
  content: url(../images/list-style-thermometer.svg);
}

/* Стили для blog */

.aside-container {
  display: flex;
  gap: 30px;
  margin-top: 80px;
}

.blog {
  background-color: #FFFFFF;
  background-image: url(../images/raspberry-and-mint.jpg);
  background-position-x: right;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 32px 0 0 32px;
  flex-basis: 570px;
  flex-grow: 0;
  min-height: 192px;
}

.blog-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #565C66;
  margin: 0;
}

.blog-link {
  width: 303px;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: block;
  margin-top: 14px;
}

.blog-link:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.blog-link:active {
  color: #FF7799;
}

.blog-link:focus {
  color: #565C66;
}

/* Стили для newsletter */

.newsletter {
  background-color: #FFFFFF;
  background-image: url(../images/lines-background.jpg);
  background-size: 110%;
  flex-basis: 50px;
  border-radius: 16px;
  flex-grow: 0;
  min-height: 192px;
}

.newsletter-wrapper {
  width: 505px;
  background-color: #FFFFFF;
  padding: 26px;
  margin: 6px;
}

.newsletter-form {
  margin-top: 44px;
}

.newsletter-form input {
  box-sizing: border-box;
  border: 1px solid #B9B9B9;
  margin-right: 13px;
  width: 332px;
  padding: 14px 0 13px 16px;
  border-radius: 4px;
}

.newsletter input {
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
  color: #B9B9B9;
}

/* input:placeholder-shown {
  background-color: #FFEB3B;
  border: 2px solid #D28100;
  border-radius: 5px;
} */

.newletter-text {
  color: #565C66;
  margin: 0;
}

/* Стили для delivery */

.delivery {
  background-color: #FFFFFF;
  background-image: url(../images/icecream-and-fruit.jpg);
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
  padding: 64px 0;
}

.delivery-container {
  width: 371px;
  margin-left: 30px;
  margin-top: 3px;
}

.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
}

.delivery-text {
  color: #565C66;
  margin: 0;
  margin-top: 24px;
}

.delivery-form-container {
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  max-width: 500px;
  padding: 40px 40px 0;
  margin-right: -6px;
}

.delivery-form {
  font-weight: 700;
  line-height: 20px;
  display: grid;
  grid-template-rows: 76px 20px 76px 32px 44px 42px;
  grid-auto-columns: 117px 287px;
  column-gap: 16px;
  margin-top: 32px;
}

.delivery-form input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #B9B9B9;
  padding-left: 16px;
}

.delivery-form label {
  margin-left: -1px;
}

.delivery-form-date {
  grid-column: 1/2;
}

.delivery-form-phone {
  grid-column: 2/3;
}

.delivery-form-date input {
  padding-left: 16px;
}

.delivery-form-phone input {
  padding-left: 16px;
}

.delivery-form-text {
  color: #565C66;
  margin: 0;
  width: 380px;
}

.delivery-form-inner {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.delivery-form-address {
  /*   margin-top: 20px; */
  grid-column: 1/3;
  grid-row: 3/4;
}

.delivery-form div {
  display: flex;
  gap: 16px;
  margin-top: 32px;
}

.input {
  height: 48px;
  margin-top: 8px;
}

.delivery-form-container label:after {
  content: url(../images/Info.svg);
  padding-left: 4px;
}

.delivery-form-phone label::after {
  content: none;
}

.delivery-form-button {
  /*   margin: 0;
  margin-top: 32px;
  text-align: center; */
  grid-row: 5/6;
  justify-self: center;
  grid-column: 1/3;
  margin: 0;
}

/* Стили для contacts */

.contacts {
  padding: 64px;
  background-color: #FEAFC3;
  background-image: url(../images/three-icecreams.jpg);
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 16px;
  margin-top: 80px;
}

.contacts-content {
  background: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px 0 40px 40px;
  width: 303px;
}

.contacts-subtitle {
  color: #565C66;
  width: 179px;
  margin: 0;
}

.contacts-subtitle:nth-child(2) {
  width: 203px;
}

.phone-schedule-inner {
  width: 200px;
  margin: 0;
  margin-top: 12px;
}

.contacts-address-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
}


.contacts-address {
  font-style: normal;
  max-width: 263px;
  margin-top: 12px;
}

.contacts-phone {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-schedule {
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
  display: block;
}

.button-feedback {
  display: inline-flex;
  margin-top: 32px;
}

/* Стили для footer */

.page-footer {
  min-height: 153px;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 48px;
}

.footer-info-list {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 356px;
  height: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 6px;
  margin-left: 41px;
  line-height: 20px;
}

.footer-info-link {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 20px;
}

.footer-info-link:hover {
  color: #FCFCFC;
  text-decoration: none;
  transition: 0.5s;
}

.footer-info-item:first-child {
  margin-left: -24px;
  font-weight: 700;
  display: flex;
}

.footer-info-item:first-child:before {
  content: url(../images/heart.svg);
  margin-right: 10px;
}

.about-text {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-top: 8px;
}

.htmlacademy-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.htmlacademy-link:hover {
  color: #FCFCFC;
  text-decoration: none;
  transition: 0.5s;
}

/* Стили для страницы Каталога */

.inner-header {
  padding-top: 30px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: flex;
}

.breadcrumbs-item {
  margin-right: 9px;
}

.breadcrumbs-item:last-child {
  border-bottom: 0.5px solid black;
}

.breadcrumbs-item::after {
  content: url(../images/two-arrows-right.svg);
  padding-left: 8px;
}

.breadcrumbs-item:last-child::after {
  content: none;
  margin-right: 0;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
  padding: 25px 0;
}

.breadcrumbs-link:hover {
  border-bottom: 0.5px solid black;
  padding: 1px 0;
}

.breadcrumbs-item:last-child .breadcrumbs-link:hover {
  border-bottom: none;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
  padding: 1px 0;
}

.translucent-field {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.catalog-filter {
  margin-top: 37px;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: end;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.catalog-filter-list-fat {
  display: flex;
  gap: 16px;
  padding: 8px 24px;
}

.catalog-filter-list-filler {
  display: flex;
  gap: 16px;
  padding: 10px 24px;
}

.catalog-filter-products {
  font-size: 14px;
  line-height: 20px;
}

.sort-wrapper {
  display: grid;
  gap: 8px;
  margin-right: 8px;
}

.sort-wrapper label {
  margin-left: 16px;
}

.catalog-filter-products-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  margin-top: 16px;
}

.select-control {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  width: 196px;
  padding: 8px 0 9px 11px;
}

.catalog-filter-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 8px;
  margin-left: 16px;
}

.button-transparent {
  background: rgba(252, 252, 252, 0.3);
  border: none;
  outline: 2px solid #FCFCFC;
  border-radius: 20px;
  font-weight: 700;
  padding: 8px 52px;
  margin-bottom: 2px;
}

.button-transparent:hover {
  background: #FCFCFC;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  transition: 0.8s;
}

.button-transparent:active {
  background: #FCFCFC;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.button-transparent:focus {
  background: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2D3440;
}

.button-transparent:disabled {
  opacity: 0.4;
}

.page-catalog {
  margin: 0;
  margin-top: 95px;
  margin-bottom: 40px;
}

.page-catalog-list {
  margin: 0;
}

.pagination-wrapper {
  display: flex;
  margin-top: 16px;
  min-height: 126px;
  align-items: center;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.pagination-item:last-child a {
  padding-right: 0;
}

.pagination-link {
  text-decoration: none;
  line-height: 20px;
  color: inherit;
  border-radius: 50px;
  padding: 2px 7px;
}

.pagination-next,
.pagination-prev {
  display: flex;
}

.pagination-link:not(.pagination-disabled):hover {
  background: rgba(252, 252, 252, 0.5);
}

.pagination-link:not(.pagination-disabled):active {
  background: rgba(252, 252, 252, 0.5);
  outline: 1px solid #FCFCFC;
}

.pagination-show-more {
  margin-left: 487px;
}

.catalog-page-footer-container {
  border-top: 1px solid rgba(252, 252, 252, 0.3);
}

.pagination-current {
  background: #FCFCFC;
  border-radius: 50px;
  padding: 2px 8px;
}

/* Popover */

.popover {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  filter: drop-shadow(0px 15px 40px rgba(45, 52, 64, 0.12));
  background: #FCFCFC;
  border-radius: 4px;
  padding: 48px;
  margin-top: 8px;
  right: 0px;
  display: none;
}

.navigation-item-cart:focus-within .popover {
  display: block;
}

.popover-title {
  margin: 0;
  text-align: left;
}

.popover-cart-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-top: 32px;
  padding-bottom: 34px;
  border-bottom: 1px solid #E7E7E7;
}

.popover-cart-item {
  display: grid;
  grid-template-columns: 46px 16px 130px 34px 80px 22px 16px;
}

.popover-cart-image {
  grid-column: 1/2;
}

.popover-cart-text {
  display: grid;
  grid-column: 3/4;
}

.popover-cart-subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

.popover-cart-description {
  font-size: 14px;
  color: #B9B9B9;
}

.popover-cart-item-price {
  grid-column: 5/6;
  font-size: 18px;
  line-height: 22px;
  align-self: center;
}

.button-delete-product-popover-cart {
  width: 16px;
  height: 16px;
  background-image: url(../images/Cross.svg);
  border: none;
  background-color: inherit;
  cursor: pointer;
  grid-column: 7/8;
  align-self: center;
}

.popover-cart-checkout-and-summary {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.button-checkout-popover-cart {
  cursor: pointer;

}

.popover-cart-summary {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  align-self: center;
}

/* Popover-Empty */

.popover-empty {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  min-width: 288px;
  min-height: 60px;
  filter: drop-shadow(0px 15px 40px rgba(45, 52, 64, 0.12));
  background: #FCFCFC;
  border-radius: 4px;
  padding: 48px 0;
  margin-top: 8px;
  right: 0px;
  display: none;
}

.popover-cart-empty {
  padding: 58px 0;
}

.popover-title-empty {
  width: 288px;
  text-align: center;
}

/* Pop-up Login */

.popup-login {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  background: #FCFCFC;
  border-radius: 4px;
  filter: drop-shadow(0px 15px 40px rgba(45, 52, 64, 0.12));
  margin-top: 8px;
  right: 0;
  padding: 48px 48px 52px;
  display: none;
}

.popup-login-title {
  margin: 0;
  line-height: 30px;
}

.popup-login form {
  display: flex;
  flex-direction: column;
}

.popup-login input {
  margin: 0;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 16px;
}

.popup-login input:first-child {
  padding-left: 16px;
  min-width: 324px;
  margin-top: 32px;
}

.popup-login input:nth-child(2) {
  margin-top: 16px;
}

.popup-login-button-and-links-wrapper {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.popup-login-links-wrapper {
  margin-left: 7px;
}

.popup-login-links-wrapper a {
  color: #2D3440;
  font-size: 14px;
}

.navigation-item-login:focus-within .popup-login {
  display: block;
}

/* Popup Search */

.popup-search {
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
  right: 0;
  margin-top: 8px;
  background: #FCFCFC;
  border-radius: 4px;
  filter: drop-shadow(0px 8px 16px rgba(45, 52, 64, 0.12));
  padding: 24px 16px;
  display: none;
}

.popup-search input {
  font-size: 16px;
  line-height: 20px;
  padding: 14px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  background: #FFFFFF;
  min-width: 324px;
}

.navigation-item-search:focus-within .popup-search {
  display: block;
}

/* Navigation-Link-Current */

.navigation-user a:not(.navigation-phone).navigation-link-current {
  background: #FF4A78;
  color: #FCFCFC;
  border-radius: 30px;
  box-sizing: border-box;
}

.navigation-link-current path {
  fill: #FCFCFC;
}

.navigation-user a:not(.navigation-phone).navigation-link-current:hover {
  background: #FF4A78;
  opacity: 0.6;
}

.navigation-item-login .navigation-link-current:active,
.navigation-item-search .navigation-link-current:active,
.navigation-item-cart .navigation-link-current:active {
  background: #FF4A78;
  opacity: 0.3;
}

.navigation-item-login .navigation-link-current:focus,
.navigation-item-search .navigation-link-current:focus {
  background: #FF4A78;
  outline: 2px solid #000000;
}
